body {
  background-color: #ACBD9D;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  text-align: center;
  margin-bottom: 5rem;
}

.App-navigation {
  margin-top: 1.5rem;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.Tab-button {
  font-size: 1.75rem !important;
}

.App-link {
  color: #61dafb;
}

.logo {
  height: 400px;
  width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slogan {
  font-style: italic;
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.summary {
  margin-left: 18% !important;
  margin-right: 18% !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.cards {
  display: flex;   
  flex-wrap: wrap;
  grid-gap: 1rem;   
  padding-left: 6%;
  padding-right: 6%;
  justify-content: center;
}

.infocard {
  background-color: transparent;
  width: 400px;  
  height: 375px; 
  padding: 1rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.infocard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.infocard:hover .infocard-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.infocard-front, .infocard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #9D9D86;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.infocard-front {
  color: white;
}

/* Style the back side */
.infocard-back {
  display: flex;
  color: white;
  text-align: center;
  vertical-align: middle;
  transform: rotateY(180deg);
  align-items:center;
}

.image-card {
  position: fixed;
  bottom: 1rem;
  left: 87px;
  width: 225px;  
  height: 225px; 
}

.back-description {
  align-items:center;
}

.stepcard {
  width: 500px;  
  height: 475px; 
}

.image-step {
  width: 325px;  
  height: 300px; 
  text-align: center;
  vertical-align: middle;
}

.button-booking {
  font-size: xxx-large;
}

.accordionCard {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 1rem;
}

.About-section {
  display: flex;
}